<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weng.ssm.blog.mapper.ArticleTagRefMapper">
    <insert id="insert" parameterType="int">
        insert into article_tag_ref(article_id, tag_id)
                    VALUES(#{articleId},#{tagId})
    </insert>

    <delete id="deleteByTagId" parameterType="int">
        delete from article_tag_ref where tag_id=#{id}
    </delete>

    <delete id="deleteByArticleId" parameterType="int">
        delete from article_tag_ref where article_id=#{id}
    </delete>

    <select id="countArticleByTagId" parameterType="int" resultType="int">
        select count(*) from article_tag_ref where tag_id=#{id}
    </select>

    <select id="listTagByArticleId" parameterType="java.lang.Integer" resultType="tag">
        SELECT tag.* FROM tag, article_tag_ref
        WHERE article_tag_ref.article_id = #{value} AND
            article_tag_ref.tag_id = tag.tag_id
    </select>
</mapper>